<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
  	<Mustback_Spotprice>
  		<version>0.1.0</version>
  	</Mustback_Spotprice>
  </modules>	
  <global>
    <models>
        <spotprice>
             <class>Mustback_Spotprice_Model</class>
             <resourceModel>spotprice_mysql4</resourceModel>
        </spotprice>
        <spotprice_mysql4>
                <class>Mustback_Spotprice_Model_Mysql4</class>
                <entities>
                    <feed>
                        <table>feed_price</table>
                    </feed>
                </entities>
            </spotprice_mysql4>
    </models>
    <resources>
            <!-- spotprice_setup>
                <setup>
                    <module>Mustback_Spotprice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </spotprice_setup -->
            <spotprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </spotprice_write>
            <spotprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </spotprice_read>
        </resources>
    <!-- Observers Zone -->
    <events>
      <catalog_product_save_before>
        <observers>
          <Mustback_Spotprice_Model_Observer>
            <type>singleton</type>
            <class>Mustback_Spotprice_Model_Observer</class>
            <method>updateOIPriceCatBfSave</method>
          </Mustback_Spotprice_Model_Observer>
        </observers>
      </catalog_product_save_before>     
    </events>
    </global>
    <!-- Cronjob Zone -->
    <crontab>
    	<jobs>
    		<mustback_spotprice>
    			<schedule>
    				<!-- Job will run on every day 1 AM and 4 PM -->
    				<cron_expr>00 1,16 * * *</cron_expr>
    			</schedule>
    			<run>
    				<model>spotprice/observer::updateAllPriceCJob</model>
    			</run>
    		</mustback_spotprice>
    	</jobs>
    </crontab>
  
</config>